body,div,h1,h2,h3,html,li,p,span,ul {
	margin: 0;
	padding: 0;
	font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

body {
	min-width: 360px
}

:focus {
	outline: 0
}

header {
	width: 100%;
	height: 60px;
	position: absolute;
	z-index: 1;
	top: 0
}

.index-header {
	background-color: rgba(0,0,0,.2)
}

.index-header-no-opacity {
	background-color: rgba(0,95,218,1)
}

.header-shadow {
	box-shadow: 2px 2px 3px rgba(0,0,0,.3)
}

@media (min-width:1200px) {
	.container {
		width: 1130px
	}
}

@media (max-width:1200px) {
	.container {
		width: 100%
	}
}

.container {
	position: relative;
	height: 60px;
	margin: 0 auto;
	font-size: 0
}

.logo {
	display: inline-block;
	vertical-align: top;
	background-size: contain;
	background-repeat: no-repeat
}

.menu li a:link {
	text-decoration: none
}

.disabled,.disabled:hover {
	color: #ddd!important;
	background-color: transparent!important
}

@media (min-width:768px) {
	.navbar-toggle {
		display: none
	}

	.menu {
		display: inline-block;
		vertical-align: top;
		list-style-type: none;
		height: 26px;
		line-height: 26px;
		position: relative;
		min-width: 400px
	}

	#menu-left {
		margin-left: 20px
	}

	#menu {
		float: right;
		text-align: right
	}

	.menu .menu-border {
		position: absolute;
		left: 20px;
		width: 2000px;
		border-bottom: 1px solid #4974BF;
		bottom: 0
	}

	.menu .helper {
		height: 10px;
		margin-top: 8px;
		border-right: 1px solid #4974BF;
		padding: 0
	}

	.menu>li:first-child {
		padding-left: 0
	}

	.menu>li {
		display: inline-block;
		vertical-align: top;
		height: 60px;
		width: 100px;
		text-align: center;
		position: relative
	}

	.menu .hi {
		position: absolute;
		width: 100%;
		left: 0;
		text-align: center;
		height: 60px;
		cursor: pointer
	}

	.menu .active .hi .bar,.menu>li:hover .hi .bar {
		visibility: visible
	}

	.menu>li>a {
		display: inline-block;
		color: #fff;
		font-size: 16px;
		font-weight: 700;
		line-height: 60px;
		width: 100%;
		position: absolute;
		z-index: 1;
		left: 0
	}
}

@media (max-width:768px) {
	.navbar-toggle {
		display: block;
		position: absolute;
		right: 20px;
		top: 11px;
		padding: 9px 10px 5px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent
	}

	.navbar-toggle:hover {
		background-color: #2373e2;
		border-color: #2373e2
	}

	.icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		margin-bottom: 4px;
		background-color: #fff
	}

	.menu {
		display: none;
		background-color: #1652a5
	}

	.menu-expand,.menu>li {
		display: block
	}

	.menu>li a {
		display: block;
		width: 100%;
		height: 42px;
		padding-left: 20px;
		line-height: 42px;
		font-size: 14px;
		color: #fff
	}

	.menu>li a:hover {
		background-color: rgba(35,115,226,.58)
	}
}
@-webkit-keyframes fadeInRightShort {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0)
	}
}

@-moz-keyframes fadeInRightShort {
	0% {
		opacity: 0;
		-moz-transform: translateX(20px)
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0)
	}
}

@-o-keyframes fadeInRightShort {
	0% {
		opacity: 0;
		-o-transform: translateX(20px)
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0)
	}
}

@keyframes fadeInRightShort {
	0% {
		opacity: 0;
		transform: translateX(20px)
	}

	100% {
		opacity: 1;
		transform: translateX(0)
	}
}

.fadeInRightShort {
	-webkit-animation-name: fadeInRightShort;
	-moz-animation-name: fadeInRightShort;
	-o-animation-name: fadeInRightShort;
	animation-name: fadeInRightShort
}

@-webkit-keyframes fadeInRightShort {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0)
	}
}

.arrow {
	border-width: 8px;
	z-index: 10
}

.arrow,.arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}

.arrow:after {
	border-width: 7px;
	content: ""
}

.arrow.top {
	left: 50%;
	margin-left: -8px;
	border-top-width: 0;
	border-bottom-color: #eee;
	border-bottom-color: rgba(0,0,0,.1);
	top: -8px
}

.arrow.top:after {
	content: " ";
	top: 1px;
	margin-left: -7px;
	border-top-width: 0;
	border-bottom-color: #fff
}

.arrow.right {
	top: 50%;
	right: -8px;
	margin-top: -8px;
	border-right-width: 0;
	border-left-color: #eee;
	border-left-color: rgba(0,0,0,.1)
}

.arrow.right:after {
	content: " ";
	right: 1px;
	border-right-width: 0;
	border-left-color: #fff;
	bottom: -7px
}

.arrow.bottom {
	left: 50%;
	margin-left: -8px;
	border-bottom-width: 0;
	border-top-color: #eee;
	border-top-color: rgba(0,0,0,.1);
	bottom: -8px
}

.arrow.bottom:after {
	content: " ";
	bottom: 1px;
	margin-left: -7px;
	border-bottom-width: 0;
	border-top-color: #fff
}

.arrow.left {
	top: 50%;
	left: -8px;
	margin-top: -8px;
	border-left-width: 0;
	border-right-color: #eee;
	border-right-color: rgba(0,0,0,.1)
}

.arrow.left:after {
	content: " ";
	left: 1px;
	border-left-width: 0;
	border-right-color: #fff;
	bottom: -7px
}

.notice-header {
	background-color: #feefb3;
	font-size: 0
}

.notice-header .content {
	display: inline-block;
	color: #9f6000;
	font-size: 14px;
	padding-left: 10px
}

.notice-header .close {
	display: inline-block;
	position: absolute;
	right: 15px;
	font-size: 20px;
	color: #9f6000
}

.notice-header .close,.notice-header .content {
	line-height: 32px
}

.notice-header .close {
	cursor: pointer
}

.notice-header .close:hover {
	color: #000
}

footer {
	display: block;
	padding: 0;
	margin: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
	color: #d6d6d6
}

footer a {
	text-decoration: none;
	outline: 0!important
}

footer a:hover {
	color: #108CEE;
	transition: all .3s
}

footer .footer-feedback {
	cursor: pointer
}

footer:after,footer:before {
	display: table;
	content: ""
}

footer:after {
	clear: both
}

footer .group {
	float: right
}

footer .group dl {
	width: 170px;
	padding-left: 0
}

footer .group dl.footerdoc {
	width: 115px
}

footer .group dl.footer-contact-us {
	width: 205px
}

footer .group dl.footer-cloud {
	margin-left: 30px;
	width: 430px
}

footer .group dl.footer-cloud dd>ul {
	float: left;
	margin-top: -10px
}

footer .group dl.footer-cloud .other-box {
	float: left;
	margin-left: 20px;
	margin-top: -10px
}

footer .group dl.footer-cloud .other-box h6 {
	font-size: 14px;
	margin: 10px 0
}

footer .group dl.footer-cloud .other-box p {
	line-height: 20px;
	height: auto;
	border-top: 0;
	text-align: left;
	color: #d6d6d6;
	font-size: 14px;
	margin: 12px 0 0
}

footer .group dl.footer-cloud .other-box dd>a {
	display: inline-block;
	vertical-align: top
}

footer .group dl.footer-cloud .other-box li {
	font-size: 12px;
	margin: 8px 0
}

footer .group dl.footer-cloud .other-box li:before {
	content: '';
	width: 2px;
	height: 2px;
	background: #FFF;
	display: inline-block;
	margin-bottom: .2em;
	margin-right: 5px
}

footer a,footer span {
	color: #d6d6d6
}

footer dl {
	float: left;
	margin: 0 0 30px
}

footer dd {
	font-size: 14px
}

footer dd a,footer dd h6,footer dd span {
	color: #a6a7aa
}

footer li {
	margin: 10px 0;
	font-size: 12px
}

footer dt {
	margin: 40px 0 30px;
	color: #FFF
}

footer p {
	clear: both;
	text-align: center;
	font-size: 12px;
	border-top: 1px solid #656973;
	height: 80px;
	line-height: 80px;
	color: #ebebeb;
	margin-top: 0
}

footer .footer-links,footer .products-links {
	clear: both;
	padding: 20px 0;
	border-top: 1px solid #656973;
	border-bottom: 1px solid #656973
}

footer .footer-links a {
	color: #FFF;
	font-size: 12px;
	line-height: 24px;
	margin: 0 16px 0 0
}

footer .footer-links ul,footer .products-links ul {
	*zoom: 1
}

footer .footer-links ul:after,footer .footer-links ul:before,footer .products-links ul:after,footer .products-links ul:before {
	display: table;
	content: ""
}

footer .footer-links ul:after,footer .products-links ul:after {
	clear: both
}

footer .footer-links li,footer .products-links li {
	float: left;
	margin: 0 37px 0 0;
	font-size: 12px
}

footer .footer-links li a,footer .products-links li a {
	color: #a6a7aa
}

footer .footer-links li a:hover,footer .products-links li a:hover {
	text-decoration: underline
}

footer .footer-links ul {
	display: inline-block;
	margin-top: -10px;
	max-width: 1070px;
	vertical-align: top
}

footer .footer-links ul li {
	margin-top: 10px
}

footer .footer-tips {
	margin: 0;
	height: auto;
	line-height: normal;
	padding: 24px 0;
	border-top: none
}

footer .site {
	display: none
}

footer .links {
	*zoom: 1;
	overflow: hidden;
	font-size: 15px;
	text-align: center
}

footer .links:after,footer .links:before {
	display: table;
	content: ""
}

footer .links:after {
	clear: both
}

footer .links ul {
	list-style: none
}

footer .links ul li {
	float: left;
	margin-left: 18px
}

footer .links li,footer .links ul {
	_display: inline
}

footer .links ul {
	float: none;
	display: inline-block;
	margin: 0 auto
}

footer .links li:after {
	content: "|";
	margin-left: 18px
}

footer .links li:last-child:after {
	content: "";
	margin-left: 0
}

footer .notice-list li {
	width: 360px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap
}

footer dd,footer ol,footer ul {
	margin: 0;
	padding: 0
}

footer ol,footer ul {
	list-style: none
}

footer section {
	padding: 50px 0
}

footer .container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	*zoom: 1;
	font-size: 16px;
	height: auto
}

.container:after,.container:before {
	display: table;
	content: ""
}

.container:after {
	clear: both
}

footer {
	width: 100%;
	border: none;
	position: relative;
	z-index: 7;
	background: #232526
}

header {
	background-color: #01071a;
	border-bottom: 1px solid rgba(255,255,255,.1)
}

header:hover {
	background: #000
}

.logo {
	background-image: url(https://img.alicdn.com/imgextra/i1/483638748/O1CN01qiYkDT2EUdGEOyOrd_!!483638748.png);
	width: 100px;
	height: 60px;
	background-position: center center;
	margin: 0
}
.screen-01 {
	width: 100%;
	height: 650px;
	overflow: hidden;
	background-color: #16a3ed;
	background-image: url();
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center
}

.stage {
	position: absolute;
	top: 117px;
	height: 548px;
	overflow: hidden;
	text-align: center
}

@media (min-width:609px) {
	.stage {
		width: 609px;
		left: 50%;
		margin-left: -305px
	}
}

@media (max-width:609px) {
	.stage {
		width: 100%;
		left: 50%;
		margin-left: -207px
	}
}

.phone {
	position: absolute;
	left: 50%;
	width: 212px;
	height: 389px;
	margin-left: -108px;
	background-image: url(../images/6c25a4d5.phone.png);
	background-repeat: no-repeat;
	background-position: top center;
	animation: phone-move 1s cubic-bezier(.55,0,.1,1);
	animation-fill-mode: forwards
}

@keyframes phone-move {
	from {
		top: -400px;
		opacity: .2
	}

	to {
		top: 141px;
		opacity: 1
	}
}

.inner-ellipse,.outer-ellipse {
	position: absolute;
	top: 516px;
	left: 50%;
	width: 150px;
	height: 16px;
	margin-left: -77px;
	border-radius: 100%;
	opacity: 0
}

.outer-ellipse {
	border: 1px #fff solid;
	animation: outer-ellipse 2s linear 1100ms infinite
}

.inner-ellipse {
	border: 1px #fff dotted;
	animation: outer-ellipse 2s linear 2100ms infinite
}

@keyframes outer-ellipse {
	0% {
		transform: scale(1,1);
		opacity: 0
	}

	80% {
		transform: scale(2,1.5);
		opacity: 1
	}

	100% {
		transform: scale(2.4,1.8);
		opacity: 0
	}
}

.slogan,.subslogan {
	font-weight: 200;
	color: #fff
}

.slogan {
	position: absolute;
	top: 207px;
	left: 50%;
	margin-left: -182px;
	font-size: 52px;
	animation-fill-mode: forwards
}

@keyframes slogan {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.subslogan {
	position: absolute;
	top: 301px;
	left: 50%;
	margin-left: -135px;
	font-size: 16px;
	animation-fill-mode: forwards
}

.screen-02,.screen-03 {
	width: 100%
}

.wrapper {
	max-width: 1130px;
	margin: 0 auto
}

@media (min-width:768px) {
	.slogan-even,.slogan-odd {
		height: 480px
	}
}

@media (max-width:768px) {
	.text,.token,.wrapper {
		width: 100%
	}

	.slogan-even,.slogan-odd {
		height: 800px
	}

	.screen-02,.screen-03 {
		height: 1600px
	}
}

.text {
	height: 480px
}

.text h2,.text p {
	width: 100%;
	font-weight: 200
}

.text p {
	font-size: 18px;
	line-height: 26px
}

.text h2 {
	margin-top: 195px;
	font-size: 32px;
	line-height: 64px
}

.token {
	height: 480px;
	text-align: center
}

.token.no-ads .image {
	margin-top: 123px;
	margin-right: 95px;
	width: 412px;
	height: 229px;
	background-image: url(https://img.alicdn.com/imgextra/i4/483638748/O1CN014chYgR2EUdGF5FsBM_!!483638748.png);
	background-size: contain
}

.token.power .image {
	margin-top: 90px;
	margin-left: 10px;
	width: 412px;
	height: 281px;
	background-image: url(https://img.alicdn.com/imgextra/i1/483638748/O1CN01DZZxnu2EUdGEqXakk_!!483638748.png)
}

.token.flow .image {
	margin-top: 123px;
	margin-right: 70px;
	width: 412px;
	height: 234px;
	background-image: url(https://img.alicdn.com/imgextra/i4/483638748/O1CN01TjnArL2EUdGEqdlZU_!!483638748.png)
}

.token.psd .image {
	margin-top: 53px;
	width: 275px;
	height: 296px;
	background-image: url(../images/11afae95.psd.png)
}

.slogan-even,.slogan-odd {
	width: 100%
}

.slogan-even .text,.slogan-even .token,.slogan-odd .text,.slogan-odd .token {
	float: left
}

.slogan-odd {
	background-color: #fff
}

.slogan-even .text h2,.slogan-odd .text h2 {
	color: #000
}

.slogan-odd .text p {
	color: #999
}

.slogan-even {
	background-color: #f5f5f6
}

.slogan-even .text p {
	color: #999
}

.guide-container {
	display: block;
	position: absolute;
	top: 365px;
	width: 100%;
	text-align: center
}

.guide-container .guide-bar {
	color: #fff;
	font-size: 16px;
	border: 1px solid #fff;
	padding: 12px 36px;
	text-decoration: none;
	animation-fill-mode: forwards
}

.guide-container .guide-bar .image {
	width: 14px;
	height: 16px;
	background-image: url(../images/eb48df68.go.png);
	display: inline-block
}

.event-list {
	position: relative;
	margin-top: -110px;
	z-index: 2
}

.event-list .icon {
	background: url(https://cdn.bdstatic.com/portal/img/index/event_v1_7d6ef66c.png) 0 0 no-repeat
}

.event-list .group {
	width: 1180px;
	margin: 0 auto;
	*zoom: 1;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none
}

.event-list .group:after,.event-list .group:before {
	display: table;
	content: ""
}

.event-list .group:after {
	clear: both
}

.event-list figure {
	width: 295px;
	height: 110px;
	position: absolute;
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0
}

.event-list .event-wrp {
	width: 295px;
	height: 110px;
	position: absolute
}

.event-list .event-wrp img {
	position: absolute
}

.event-list .event-wrp #event-0-main {
	background: url(https://cdn.bdstatic.com/portal/img/index/newUser_544968a2.png);
	width: 56px;
	height: 59px;
	position: absolute;
	top: 19px;
	left: 42px
}

.event-list .event-wrp #event-1-main {
	background: url(https://cdn.bdstatic.com/portal/img/index/bcd_ebb0512b.png);
	width: 85px;
	height: 50px;
	position: absolute;
	top: 24px;
	left: 33px
}

.event-list .event-wrp #event-2-main {
	background: url(https://cdn.bdstatic.com/portal/img/index/conference_4706e4f3.png);
	width: 53px;
	height: 47px;
	position: absolute;
	top: 28px;
	left: 35px
}

.event-list .event-wrp #event-3-main {
	background: url(https://cdn.bdstatic.com/portal/img/index/newFeatures_c8355b38.png);
	width: 55px;
	height: 47px;
	position: absolute;
	top: 32px;
	left: 36px
}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
	.event-list .event-wrp #event-0-main {
		background: url(https://cdn.bdstatic.com/portal/img/index/newUser.2x_47ba6ab2.png);
		background-size: 56px 59px
	}

	.event-list .event-wrp #event-1-main {
		background: url(https://cdn.bdstatic.com/portal/img/index/bcd.2x_2b16417c.png);
		background-size: 85px 50px
	}

	.event-list .event-wrp #event-2-main {
		background: url(https://cdn.bdstatic.com/portal/img/index/conference.2x_d1e40608.png);
		background-size: 53px 47px
	}

	.event-list .event-wrp #event-3-main {
		background: url(https://cdn.bdstatic.com/portal/img/index/newFeatures.2x_bd8d39b4.png);
		background-size: 55px 47px
	}
}

.event-list .event-wrp .event-dot1,.event-list .event-wrp .event-dot2 {
	position: absolute
}

.event-list .event-wrp .event-dot1 img,.event-list .event-wrp .event-dot2 img {
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	-o-transform: scale(.5);
	transform: scale(.5)
}

.event-list #event-0-wrp .event-dot1 {
	top: 5px;
	left: 75px;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg)
}

.event-list #event-0-wrp .event-dot2 {
	top: 90px;
	left: 65px;
	-webkit-transform: rotate(210deg);
	-moz-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	-o-transform: rotate(210deg);
	transform: rotate(210deg)
}

.event-list #event-1-wrp .event-dot1 {
	top: 80px;
	left: 40px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

.event-list #event-1-wrp .event-dot2 {
	top: 60px;
	left: 75px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

.event-list #event-2-wrp .event-dot1 {
	top: 10px;
	left: 70px;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg)
}

.event-list #event-2-wrp .event-dot2 {
	top: 95px;
	left: 55px;
	-webkit-transform: rotate(210deg);
	-moz-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	-o-transform: rotate(210deg);
	transform: rotate(210deg)
}

.event-list #event-3-wrp .event-dot1 {
	top: 28px;
	left: 115px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg)
}

.event-list #event-3-wrp .event-dot2 {
	top: 83px;
	left: 14px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

.event-list .event-link:hover #dot1 {
	animation: dot1 1.8s cubic-bezier(.455,.03,.515,.955);
	-webkit-animation-delay: 0s
}

.event-list .event-link:hover #dot2 {
	animation: dot2 1.8s cubic-bezier(.455,.03,.515,.955)
}

.event-list .event-link:hover #event-1-wrp #dot1 {
	animation-delay: .15s;
	-webkit-animation-delay: .15s
}

@keyframes dot1 {
	0% {
		transform: translate(0,0) scale(.5);
		opacity: 1
	}

	20% {
		transform: translate(20px,0) scale(.5);
		opacity: 0
	}

	40% {
		transform: translate(-40px,0) scale(.5);
		opacity: 0
	}

	100%,70% {
		transform: translate(0,0) scale(.5);
		opacity: 1
	}
}

@keyframes dot2 {
	0% {
		transform: translate(0,0) scale(.5);
		opacity: 1
	}

	20% {
		transform: translate(20px,0) scale(.5);
		opacity: 0
	}

	40% {
		transform: translate(-40px,0) scale(.5);
		opacity: 0
	}

	100%,70% {
		transform: translate(0,0) scale(.5);
		opacity: 1
	}
}

.event-list a {
	display: block;
	float: left;
	width: 295px;
	height: 110px
}

.event-list a:first-child {
	margin-left: 0
}

.event-list a:hover {
	text-decoration: none;
	background: rgba(10,9,9,.6);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}

.event-list figcaption {
	position: absolute;
	top: 33px;
	left: 130px
}

.event-list h3 {
	margin-top: 0;
	color: #FFF;
	font-size: 14px
}

.event-list p {
	color: #999;
	font-size: 14px
}

.event-list .icon-event-bcd {
	background-position: 0 -62px
}

.event-list .icon-event-conference {
	background-position: 0 -124px
}

.event-list .icon-event-new-features {
	background-position: 0 -186px
}
